@charset "UTF-8";

/*
    header
*/
.page-header {
    color: azure;
    background-color: deepskyblue ;
    padding: 0 5%;
}
.header-wrapper {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.main-nav {
    display: flex;
    margin: 10px auto;
    padding: 0;
}

li {
    padding-left: 20px;
    list-style-type: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
    footer
*/
.page-footer{
    color: azure;
    background-color: deepskyblue ;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}